.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
  padding-right: 0px;
  padding-left: 0px
}

body {
  color: white;
}

.header {
  padding: 2% 2% 3% 2%;
  background-color: rgba(128, 0, 107, 0.2);
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
}

.footer {
  padding: 2%;
  background-color: red;
  font-size: 50px;
  text-align: center;
  width: 100%
}

.dashboard {
  padding: 3% 1%;
}

.infoBlock{
  margin-top: -5px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 25px;
}

.display-board {
  width: 100%;

  padding: 5%;
}

.buttons button {
  width: 100%;
}

.join {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 40px 0;
  border-radius: 5px;
}

.join2 {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 40px 0;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}


.numberBox {
  align-items: center;
  justify-content: center;
  display: flex;
}

.numberBox h4 {
  text-align: center;
  font-size: 40px;
}

.number {
  color: red;
  font-size: 80px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.outerContainer {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

.row {
  margin-right: 0;
  margin-left: 0;
}



.buttons button {
  width: calc(100% - 15px);
  margin-left: 7.5px;
}

body {
  background: #606060 url(../alita.png) right top;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: calc(100% - 20px);
  }

  .col-md-3 {
    flex: none;
    max-width: 100%;
  }
}

@media (min-width: 950px) {
  .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width:1024px){
  body {
    background-position-x: calc(100% + 220px);
  }
}



@media (max-width:480px){
  html { 
    background: url(../alita.png) no-repeat right top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}